*{
    
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(18, 30, 47);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
header{
    text-align: center;
 }
.banner{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;             
    color: white;
}
.banner-info{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    color: rgb(221, 221, 221);
}
.m10{
    margin: 5rem 0;
}
.m2{margin:2px;}
.margina{
    margin: auto;
    display: flex;          
    justify-content: center;
}
.imagep{
    border: 2px solid white;
    height: 200px;
    border-radius: 100%;
    margin: 10px 0 ;
}
.nav{
    margin: 20px;
    padding: 20px;
    color:white;
    font-family: sans-serif;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
}
.naviteml{
    justify-self: flex-end;
    margin-right: 30px;
    padding: 15px 30px;
    border-radius: 30px;
    border: 2px solid white;            
}

.naviteml:hover{
    background-color: white;
    color: rgb(20, 28, 58);
    transition:all .2s ease-in-out;
   -webkit-transition:all .2s ease-in-out;
}

.navitemf{
    justify-self: flex-start;
    margin-right: 10px; 
}
a{
    text-decoration: none;
    color: inherit;
}
.sec1{
    margin: 30px 0;    
    width: 100%;
    height: 80vh;
    background:linear-gradient(#7510F7,rgb(67, 27, 114));
    z-index: -1;
}
.infosec{
    width: 50%;
    margin: 4rem auto;
    text-align: center;
    color: white;
    padding: 30px 0;
    font-size: 1.2rem;
    font-weight: 400;
}
.titlesec{
    margin-bottom: 20px;
    
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}

.c2title{
    color: rgb(130, 31, 223);
    margin-top: 2rem;
    font-weight: 700;
    font-size: 20px;
    padding: 2px 0;
}
.container{
    z-index: 1;
    position: relative;
    top:-13rem;
    margin: auto;
    padding: 1px 0;
    width: 90%;
    min-height: 50vh;
    border-radius: 10px;
    background-color: rgb(248, 239, 255);  
    display: grid;
   grid-template-columns: auto auto auto;
   box-shadow: rgb(221, 221, 221) ;
}
.sec3{
    margin: auto;
    display: block;
    text-align: center;
    justify-content: center;
}
.flex3{
    display: flex;
    flex-wrap: wrap;
    
    margin:30px auto ;
    width: 75%;
    justify-content: space-between;
}
#signature2{
    stroke-dasharray: 143;
    stroke-dashoffset: 143;
    animation: sign 4s ease;
    animation-fill-mode: forwards;
}
@keyframes sign {
    to{
        stroke-dashoffset: 0;
    }
}
.box3{
  padding: 50px;
    margin: 10px;
   
    
    width:30%;
    background-color: rgb(31, 38, 66);
    border-radius: 12px;
    color: white;
}
.box3:hover{
    opacity: 1;
    -webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}
.project1{
   display: flex;
  flex-direction: column;
  
  font-weight: 500;
  position:relative;
}
.project1 h2{
    margin: 10px 0px;
}
.projectbutton{
    margin-top: 20px;
     padding: 15px 30px;
   border-radius: 30px;
   border: 2px solid rgb(130, 31, 223);  
}
.projectbutton a{
    font: 1.1rem "Josefin sans";
    
}
.projectbutton:hover{
    background-color: rgb(130, 31, 223);
    color: white;
    transition:all 0.2s ease-in-out;
   -webkit-transition:all 0.2s ease-in-out;
}

@media (max-height:812px){
    .tilesec p{
    visibility:none;
    }
}
@media (max-width:900px) {
    body{
       font-size: 15px; 
    }
    .centercol{
        padding-left: 32px;
        padding-right: 32px;
    }
    .infosec p{
        display: none;
       
    }
    .contbutt{
        position: relative;
        top: 20px
    }
}

@media (max-width:400px){
  .blanktitle{
      font-size: small;
  }
    .container{
        position: relative;
        top:40px;
    }
    .sec1{
        height: 70vh;
    }
}
@media (max-width:700px) {
    body{
        font-size: 17px;
    }.infosec{
        width: 80%;
        font-size: medium;
    }
    .banner{
        font-size: 30px;
    }
    .banner-info{
        font-size: 22px;
    }
    .nav{
        font-size: 14px;
    }
    .container{
        display: flex;
        flex-direction: column;
        top:-10rem;
    }
    .card {
        padding: 10px;
        margin: auto ;
        text-align: center;
        padding: 0;
    }
    .centercol{
        padding:3px 0;
        border: none; 
        text-align: center;
      }
      .blanktitle{
          font-size: medium;
      }
      .contbutt{
          padding: 5px;
      }
   
    .sec1{
        height: 50vh;
    }
    .infosec{
        width: 90%;
       
    }
    .blanktitle{
        font-size: small;
    }
   .workblank{
       width: 90%;
       height: auto;
       padding: 20px;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   .contbutt{
       font-size: small;
   }
   .flex3{
       justify-content: center;
   }
   .box3{
       width: 70%;
       padding: 20px;
   }
   .projectbutton{
       font: small;
       padding: 10px;
       height: auto;
   }
 }


.container ul{
    list-style:none;
}
.container ul li a {
    cursor: pointer;
    
}
.container ul li a:hover {
    color: rgb(132, 18, 238);    
}
.card{
    
    padding: 64px 32px;
   text-align: center;
  max-width: 300px;
}
.card .title{
    color: rgb(20, 28, 58);
    font-size: 29px;
    font-weight: 600;
    margin: 30px;
    font-family: 'Josefin Sans', sans-serif;
}
.cardpra{
    padding: 0;
}
.centercol{
    padding-left: 62px;
    padding-right: 62px;
    border-right: 1px solid rgb(194, 194, 194);
    border-left: 1px solid rgb(195, 195, 195);
}
.workblank{
    width: 75%;
    background-color: white;
    color: rgb(18, 30, 47);
    padding: 50px 30px;
    margin: auto;
    margin-top: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.blanktitle{
    font-size: 1.5rem;
    font-weight:bolder;
    font-family: 'Josefin sans', 'sans serif';
}
#signature{
    height: 60px;
    max-width: 300px;
}
.contbutt{
   
    padding:15px 30px;
    background-color: white;
    border: 2px solid rgb(18, 30, 47);
   font-weight: 600;
    color: rgb(18, 30, 47);
    border-radius: 40px;

}
.contbutt:hover{
    background-color: rgb(18, 30, 47);
    transition:all .2s ease-in-out;
    color: white;
}
footer{
    text-align: center;
    padding: 30px;
    background: linear-gradient(#7510F7,rgb(125, 39, 223));
    color: white;
    margin-top: 20px;
    font-family:'Josefin Sans', sans-serif ;
}
